In [10]:
import pandas as pd
import dask.dataframe as dd

In [20]:
df = dd.read_csv('saida.csv')

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [12]:
print('Convertendo o df dask para pandas')
df = df.compute()

Convertendo o df dask para pandas

In [21]:
# faz o sort do df
df.sort_values(by=['CO_PRD', 'DT_REF'], inplace=True)

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [13]:
df['CO_PRD'] = df['CO_PRD'].astype(str).str.zfill(14)
df['DT_REF'] = pd.to_datetime(df['DT_REF'], format='%Y-%m-%d', errors='coerce')

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,CO_PRD,DT_REF,PC_RESG
0,00.000.432/0001-00,2005-01-03,85628263.94,17.695888,85482225.37,0.0,0.0,1,00000432000100,2005-01-03,NaN
1,00.000.432/0001-00,2005-01-04,86015336.79,17.811724,86007347.16,0.0,0.0,1,00000432000100,2005-01-04,0.0
2,00.000.432/0001-00,2005-01-05,86495476.59,17.911123,86487314.68,0.0,0.0,1,00000432000100,2005-01-05,0.0
3,00.000.432/0001-00,2005-01-06,87224398.06,18.062034,87216017.10,0.0,0.0,1,00000432000100,2005-01-06,0.0
4,00.000.432/0001-00,2005-01-07,97583564.23,18.054970,97451905.23,10270000.0,0.0,1,00000432000100,2005-01-07,0.0

In [14]:
df.head()

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,CO_PRD,DT_REF,PC_RESG
0,00.000.432/0001-00,2005-01-03,85628263.94,17.695888,85482225.37,0.0,0.0,1,00000432000100,2005-01-03,NaN
1,00.000.432/0001-00,2005-01-04,86015336.79,17.811724,86007347.16,0.0,0.0,1,00000432000100,2005-01-04,0.0
2,00.000.432/0001-00,2005-01-05,86495476.59,17.911123,86487314.68,0.0,0.0,1,00000432000100,2005-01-05,0.0
3,00.000.432/0001-00,2005-01-06,87224398.06,18.062034,87216017.10,0.0,0.0,1,00000432000100,2005-01-06,0.0
4,00.000.432/0001-00,2005-01-07,97583564.23,18.054970,97451905.23,10270000.0,0.0,1,00000432000100,2005-01-07,0.0

In [18]:
mask = df['CO_PRD'] == '29157520000194'
df_diamante = df[mask]
df_diamante.tail(20)

In [19]:
df_diamante.tail(20)

,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST,CO_PRD,DT_REF,PC_RESG
47497,29.157.520/0001-94,2020-04-06,1.274182e+08,1013.664397,1.274030e+08,0.0,6509158.90,7,29157520000194,2020-04-06,0.048613
47498,29.157.520/0001-94,2020-04-07,1.332226e+08,1013.812273,1.332216e+08,5800000.0,0.00,7,29157520000194,2020-04-07,0.000000
47499,29.157.520/0001-94,2020-04-08,1.313148e+08,1010.683726,1.313105e+08,0.0,1500000.00,7,29157520000194,2020-04-08,0.011259
47500,29.157.520/0001-94,2020-04-09,1.303215e+08,1010.836832,1.303304e+08,0.0,1000000.00,7,29157520000194,2020-04-09,0.007616
47501,29.157.520/0001-94,2020-04-13,1.371454e+08,1011.052146,1.371581e+08,6800000.0,0.00,7,29157520000194,2020-04-13,0.000000
47502,29.157.520/0001-94,2020-04-14,1.461723e+08,1011.260670,1.461864e+08,9000000.0,0.00,7,29157520000194,2020-04-14,0.000000
47503,29.157.520/0001-94,2020-04-15,8.664229e+07,1011.411832,8.662281e+07,4500000.0,64085446.66,5,29157520000194,2020-04-15,0.438382
47504,29.157.520/0001-94,2020-04-16,8.669890e+07,1012.126316,8.668401e+07,0.0,0.00,5,29157520000194,2020-04-16,0.000000
47505,29.157.520/0001-94,2020-04-17,8.672242e+07,1012.408103,8.670814e+07,0.0,0.00,5,29157520000194,2020-04-17,0.000000
47506,29.157.520/0001-94,2020-04-20,8.376024e+07,1012.845522,8.374560e+07,0.0,3000000.00,5,29157520000194,2020-04-20,0.034599
47507,29.157.520/0001-94,2020-04-22,8.966011e+07,1013.192948,8.967433e+07,5900000.0,0.00,5,29157520000194,2020-04-22,0.000000
47508,29.157.520/0001-94,2020-04-23,9.379321e+07,1013.487726,9.380042e+07,4100000.0,0.00,5,29157520000194,2020-04-23,0.000000
47509,29.157.520/0001-94,2020-04-24,9.789367e+07,1013.306887,9.788368e+07,4100000.0,0.00,5,29157520000194,2020-04-24,0.000000
47510,29.157.520/0001-94,2020-04-27,9.788800e+07,1013.389829,9.789169e+07,0.0,0.00,5,29157520000194,2020-04-27,0.000000
47511,29.157.520/0001-94,2020-04-28,1.019939e+08,1013.687898,1.020205e+08,4100000.0,0.00,5,29157520000194,2020-04-28,0.000000
47512,29.157.520/0001-94,2020-04-29,9.038339e+07,1013.383898,9.038989e+07,0.0,11600000.00,5,29157520000194,2020-04-29,0.113703
47513,29.157.520/0001-94,2020-04-30,8.620071e+07,1013.581880,8.620754e+07,2400000.0,6600008.21,5,29157520000194,2020-04-30,0.073017
180060,29.157.520/0001-94,2020-05-04,8.051623e+07,1013.694721,8.051542e+07,0.0,5701721.61,5,29157520000194,2020-05-04,0.066139
180061,29.157.520/0001-94,2020-05-05,8.052327e+07,1013.943941,8.053521e+07,0.0,0.00,5,29157520000194,2020-05-05,0.000000
180062,29.157.520/0001-94,2020-05-06,8.052327e+07,1013.943941,8.053521e+07,0.0,0.00,5,29157520000194,2020-05-06,0.000000